html, body {
  margin: 0px;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

body {
  background-color: rgb(255, 0, 0);
}

@font-face {
  font-family: "P5 Plaintext";
  src: url(assets/fonts/p5hatty.ttf);
}

/* City Backgrounds */
.city, .cityBG {
  position: absolute;
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.cityBG {
  background-image: url("assets/img/cityNightOff.jpg");
  z-index: -1;
}

.city {
  background-image: url(assets/img/cityNightOn.jpg);
  z-index: 0;
  opacity: 100%;
  animation: flashingCity 3s linear infinite;
}

@keyframes flashingCity {
  0% { opacity: 0%; }
  50% { opacity: 100%; }
  100% { opacity: 0%; }
}

/* Calendar Display */
.calendar-container {
  position: absolute;
  height: 100px;
  width: 250px;
  top: 5%;
  left: 0.5%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  text-align: center;
  rotate: -25deg;
}

.calendar-date, .calendar-year {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "P5 Plaintext", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
  color: rgb(255, 255, 255);
  z-index: 3;
  text-shadow:
    -3px -3px 0.5px #000,
    0   -3px 0.5px #000,
    3px -3px 0.5px #000,
    3px  0   0.5px #000,
    3px  3px 0.5px #000,
    0    3px 0.5px #000,
    -3px  3px 0.5px #000,
    -3px  0   0.5px #000;
  letter-spacing: 3px;
}

.calendar-year {
  font-size: 25px;
  padding-top: 30%;
  text-shadow:
    -2px -2px 0.5px #000,
    0   -2px 0.5px #000,
    2px -2px 0.5px #000,
    2px  0   0.5px #000,
    2px  2px 0.5px #000,
    0    2px 0.5px #000,
    -2px  2px 0.5px #000,
    -2px  0   0.5px #000;
}

/* Clock Display */
.clock-container {
  position: absolute;
  height: 100px;
  width: 250px;
  top: 5%;
  left: 91%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  text-align: center;
  rotate: 25deg;
}

.clock-time {
  position: absolute;
  width: 250px;
  top: 59%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-family: "P5 Plaintext", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 70px;
  color: rgb(255, 255, 255);
  z-index: 3;
  text-shadow:
    -3px -3px 0.5px #000,
    0   -3px 0.5px #000,
    3px -3px 0.5px #000,
    3px  0   0.5px #000,
    3px  3px 0.5px #000,
    0    3px 0.5px #000,
    -3px  3px 0.5px #000,
    -3px  0   0.5px #000;
  letter-spacing: 3px;
}

/* Clouds */
.clouds-container {
  display: inline;
}

.cloudBigBar, .cloudMedBar, .cloudSmallBar {
  position: absolute;
  display: inline-block;
  padding: 0%;
  z-index: 5;
  left: 50%;
  top: 100%;
  height: auto;
  width: 50%;
  transition: all 1s;
	transform-origin: 0% 35%;
}
.cloudBigBar{
  animation: orbit 60s linear infinite;
  width: 50%;
}
.cloudMedBar {
  animation: orbit 50s linear infinite;
  width: 65%;
}
.cloudSmallBar {
  animation: orbit 45s linear infinite;
  width: 70%;
}

.cloudBig, .cloudMed, .cloudSmall {
  left: 70%;
  opacity: 90%;
  padding: 0%;
  position: absolute;
  top: 100%;
  height: 100px;
  transform: rotate(90deg);
}
.cloudBig {
  height: 150px;
}
.cloudMed {
  height: 100px;
}
.cloudSmall {
  height: 50px;
}

@keyframes orbit {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-105deg);
  }
  100% {
    transform: rotate(-240deg);
  }
}

.weather-container {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 90%;
  left: 50%;
  z-index: 5;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.weather-icon {
  position: absolute;
  left: 73%;
  transform: translateX(-50%) translateY(-50%);
  animation: titter 2s steps(2) infinite;
}
.weather-temp {
  font-family: "P5 Plaintext", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-shadow:
    -3px -3px 0.5px #000,
    0   -3px 0.5px #000,
    3px -3px 0.5px #000,
    3px  0   0.5px #000,
    3px  3px 0.5px #000,
    0    3px 0.5px #000,
    -3px  3px 0.5px #000,
    -3px  0   0.5px #000;
  letter-spacing: 2px;
}
.weather-location {
  font-family: "P5 Plaintext", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 70px;
  color: rgb(255, 255, 255);
  text-shadow:
    -3px -3px 0.5px #000,
    0   -3px 0.5px #000,
    3px -3px 0.5px #000,
    3px  0   0.5px #000,
    3px  3px 0.5px #000,
    0    3px 0.5px #000,
    -3px  3px 0.5px #000,
    -3px  0   0.5px #000;
  letter-spacing: 3px;
}

@keyframes titter {
  0% {
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(-5deg);
  }
}